<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.theguardian.newsroom">

    <application>

        <activity
            android:label="@string/lib_name"
            android:name=".ui.MainActivity"
            android:taskAffinity="com.theguardian.newsroom.task">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name=".ui.MainActivity"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
