<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.theguardian.newsroom">

    <application>

        <activity android:label="@string/lib_name" android:name=".ui.MainActivity" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
